 @import './variables';
body{
	font-family:'lato',sans-serif;
	-webkit-font-smoothing:antialiased;
	color: $dark;

}

nav li:last-child a{
background-color:$primary;
border-radius:40px;
&:hover{
      background:$primary-hover;
	}
}

nav li a {
  transition:all .3s ease-in-out;
	&:hover{
      color:$primary;
	}
}

section.hero{

	background:$secondery;
}
.size{
background:$secondery;	
}

.book{
	border-color:$primary;
	border-width:2px;
	border-style:solid;
	color:$primary;
	transition:all .3s ease-in-out;
	&:hover{
		background:$primary;
		color:$pure;
		border-color:$pure;
	}

}
.add-to-cart{
	border-color:$primary;
	border-width:2px;
	border-style:solid;
	color:$primary;
	transition:all .3s ease-in-out;
	&:hover{
		background:$primary;
		color:$pure;
		border-color:$pure;
	}
}

.cartpage{
background:$secondery;
.amount{
	color:$primary;
}
}

.login{
	background:$secondery;
	min-height:calc(100vh-86px);
}