 @import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';
body{
	font-family:'lato',sans-serif;
	-webkit-font-smoothing:antialiased;
	color: $dark;

}

nav li:last-child a{
background-color:$primary;
border-radius:40px;
&:hover{
      background:$primary-hover;
	}
}

nav li a {
  transition:all .3s ease-in-out;
	&:hover{
      color:$primary;
	}
}

section.hero{

	background:$secondery;
}
.size{
background:$secondery;	
}

.book{
	border-color:$primary;
	border-width:2px;
	border-style:solid;
	color:$primary;
	
	transition:all .3s ease-in-out;
	&:hover{
		background:$primary;
		color:$pure;
		border-color:$pure;
	};
&:focus{
	outline: none; 
}
}
.add-to-cart{
	border-color:$primary;
	border-width:2px;
	border-style:solid;
	color:$primary; 
	transition:all .3s ease-in-out;
	&:hover{
		background:$primary;
		color:$pure;
		border-color:$pure;
	};
	&:focus{
	outline: none; 
}


}

.cartpage{
background:$secondery;
.amount{
	color:$primary;
}
}

.login{
	background:$secondery;
	min-height:calc(100vh-86px);
}

.noty_theme__mint{
border-radius: 50px !important;
padding-left: 8px !important;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
  a.link{
  color:$primary
  }

 